<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Opensymphony Clickstream Example</display-name>

    <filter>
        <filter-name>clickstream</filter-name>
        <filter-class>com.opensymphony.clickstream.ClickstreamFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>clickstream</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.opensymphony.clickstream.ClickstreamListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>activeStreams</servlet-name>
        <servlet-class>com.opensymphony.clickstream.servlet.ActiveStreamsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>activeStreams</servlet-name>
        <url-pattern>/streams</url-pattern>
    </servlet-mapping>
</web-app>